* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    cursor: default;

}

body {
    background-color: var(--background);
    color: var(--color);
    -ms-overflow-style: none;
}

body::-webkit-scrollbar {
    width: 0;
}
